В данном ноутбуке для сравнения были сделаны несколько тривиальных решений, для сравнения в качестве базового варианта

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
color = sns.color_palette()
%matplotlib inline
from subprocess import check_output

import pandas as pd # dataframes
import numpy as np # algebra & calculus
import nltk # text preprocessing & manipulation
# from textblob import TextBlob
import matplotlib.pyplot as plt # plotting
import seaborn as sns # plotting

from functools import partial # to reduce df memory consumption by applying to_numeric

color = sns.color_palette() # adjusting plotting style
import warnings
warnings.filterwarnings('ignore') # silence annoying warnings

In [2]:
order_products_train_df = pd.read_csv("../data/input/order_products__train.csv")
order_products_prior_df = pd.read_csv("../data/input/order_products__prior.csv")
orders_df = pd.read_csv("../data/input/orders.csv")
products_df = pd.read_csv("../data/input/products.csv")
aisles_df = pd.read_csv("../data/input/aisles.csv")
departments_df = pd.read_csv("../data/input/departments.csv")

In [10]:
orders_df.query('eval_set == "train"')

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
10,1187899,1,train,11,4,8,14.0
25,1492625,2,train,15,1,11,30.0
49,2196797,5,train,5,0,11,6.0
74,525192,7,train,21,2,11,6.0
78,880375,8,train,4,1,14,10.0
82,1094988,9,train,4,6,10,30.0
88,1822501,10,train,6,0,19,30.0
115,1827621,13,train,13,0,21,8.0
129,2316178,14,train,14,2,19,11.0
200,2180313,17,train,41,3,10,30.0
207,2461523,18,train,7,6,9,7.0
256,1854765,21,train,34,1,12,28.0
277,3402036,23,train,5,1,12,30.0
296,965160,24,train,19,0,16,0.0
395,2614670,27,train,82,5,14,4.0
439,3110252,29,train,19,4,11,13.0
448,62370,30,train,9,2,13,22.0
485,698604,34,train,6,4,13,30.0
557,1524161,37,train,24,0,13,16.0
570,3173750,38,train,13,0,9,30.0
594,2032076,41,train,6,0,20,30.0
611,2803975,42,train,17,0,11,14.0
623,1864787,43,train,12,5,11,26.0
627,2436259,44,train,4,0,12,30.0
652,1947848,46,train,20,4,20,11.0
658,2906490,47,train,6,4,22,16.0
669,2924697,48,train,11,5,18,14.0
678,519514,49,train,9,4,12,2.0
746,1750084,50,train,68,3,9,7.0
778,1647290,52,train,28,4,16,3.0
...,...,...,...,...,...,...,...
3420282,1014278,206159,train,7,3,10,9.0
3420328,130224,206162,train,19,3,12,14.0
3420340,1011957,206164,train,6,2,17,30.0
3420368,1521740,206165,train,28,6,0,2.0
3420393,1345413,206167,train,5,2,15,30.0
3420415,2190740,206169,train,9,0,14,7.0
3420422,3204749,206170,train,7,3,12,26.0
3420429,243575,206171,train,7,0,22,11.0
3420436,487224,206172,train,7,5,12,5.0
3420493,1620607,206174,train,53,4,22,10.0
3420500,1241200,206175,train,7,0,15,14.0
3420515,1533014,206176,train,15,6,16,12.0
3420523,36236,206177,train,8,6,14,8.0
3420543,813551,206178,train,20,4,12,11.0
3420581,681092,206181,train,15,1,13,30.0
3420612,67174,206184,train,5,1,15,30.0
3420623,2048154,206185,train,11,4,13,20.0
3420627,160694,206186,train,4,5,15,7.0
3420670,3367945,206188,train,8,1,21,30.0
3420686,2108733,206190,train,9,5,14,30.0
3420692,2530125,206191,train,6,0,9,30.0
3420749,2518868,206193,train,42,5,12,5.0
3420781,2986595,206195,train,20,0,14,30.0
3420786,3383615,206196,train,5,0,15,30.0
3420818,2951304,206198,train,8,6,12,30.0
3420838,2585586,206199,train,20,2,16,30.0
3420862,943915,206200,train,24,6,19,6.0
3420924,2371631,206203,train,6,4,19,30.0
3420933,1716008,206205,train,4,1,16,10.0
3421082,272231,206209,train,14,6,14,30.0

In [4]:
order_products_prior_df

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
5                2       17794                  6          1
6                2       40141                  7          1
7                2        1819                  8          1
8                2       43668                  9          0
9                3       33754                  1          1
10               3       24838                  2          1
11               3       17704                  3          1
12               3       21903                  4          1
13               3       17668                  5          1
14               3       46667                  6          1
15               3       17461                  7          1
16               3       32665                  8          1
17               4       46842                  1          0
18               4       26434                  2          1
19               4       39758                  3          1
20               4       27761                  4          1
21               4       10054                  5          1
22               4       21351                  6          1
23               4       22598                  7          1
24               4       34862                  8          1
25               4       40285                  9          1
26               4       17616                 10          1
27               4       25146                 11          1
28               4       32645                 12          1
29               4       41276                 13          1
...            ...         ...                ...        ...
32434459   3421080       41950                  4          0
32434460   3421080       31717                  5          0
32434461   3421080       12935                  6          1
32434462   3421080       25122                  7          0
32434463   3421080       10667                  8          0
32434464   3421080       38061                  9          0
32434465   3421081       38185                  1          0
32434466   3421081       12218                  2          0
32434467   3421081       32299                  3          0
32434468   3421081        3060                  4          0
32434469   3421081       20539                  5          0
32434470   3421081       35221                  6          0
32434471   3421081       12861                  7          0
32434472   3421082       17279                  1          1
32434473   3421082       12738                  2          1
32434474   3421082       16797                  3          0
32434475   3421082       43352                  4          1
32434476   3421082       32700                  5          1
32434477   3421082       12023                  6          0
32434478   3421082       47941                  7          0
32434479   3421083        7854                  1          0
32434480   3421083       45309                  2          0
32434481   3421083       21162                  3          0
32434482   3421083       18176                  4          1
32434483   3421083       35211                  5          0
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [6]:
order_products_train_df

         order_id  product_id  add_to_cart_order  reordered
0               1       49302                  1          1
1               1       11109                  2          1
2               1       10246                  3          0
3               1       49683                  4          0
4               1       43633                  5          1
5               1       13176                  6          0
6               1       47209                  7          0
7               1       22035                  8          1
8              36       39612                  1          0
9              36       19660                  2          1
10             36       49235                  3          0
11             36       43086                  4          1
12             36       46620                  5          1
13             36       34497                  6          1
14             36       48679                  7          1
15             36       46979                  8          1
16             38       11913                  1          0
17             38       18159                  2          0
18             38        4461                  3          0
19             38       21616                  4          1
20             38       23622                  5          0
21             38       32433                  6          0
22             38       28842                  7          0
23             38       42625                  8          0
24             38       39693                  9          0
25             96       20574                  1          1
26             96       30391                  2          0
27             96       40706                  3          1
28             96       25610                  4          0
29             96       27966                  5          1
...           ...         ...                ...        ...
1384587   3421026       32237                  3          0
1384588   3421026          10                  4          0
1384589   3421026        4493                  5          0
1384590   3421026        7781                  6          0
1384591   3421049       40800                  1          0
1384592   3421049       17706                  2          0
1384593   3421049       33424                  3          1
1384594   3421049       17299                  4          0
1384595   3421049       26800                  5          0
1384596   3421049       34243                  6          0
1384597   3421056        5750                  1          1
1384598   3421056        9340                  2          1
1384599   3421056       21709                  3          1
1384600   3421056       16475                  4          0
1384601   3421056       12432                  5          0
1384602   3421058       15629                  1          1
1384603   3421058        4347                  2          1
1384604   3421058       34466                  3          1
1384605   3421058        6244                  4          1
1384606   3421058        6858                  5          1
1384607   3421058       30316                  6          1
1384608   3421058       35578                  7          0
1384609   3421058       32650                  8          1
1384610   3421063       49235                  1          1
1384611   3421063       13565                  2          1
1384612   3421063       14233                  3          1
1384613   3421063       35548                  4          1
1384614   3421070       35951                  1          1
1384615   3421070       16953                  2          1
1384616   3421070        4724                  3          1

[1384617 rows x 4 columns]

In [3]:
order_products_train_df

         order_id  product_id  add_to_cart_order  reordered
0               1       49302                  1          1
1               1       11109                  2          1
2               1       10246                  3          0
3               1       49683                  4          0
4               1       43633                  5          1
5               1       13176                  6          0
6               1       47209                  7          0
7               1       22035                  8          1
8              36       39612                  1          0
9              36       19660                  2          1
10             36       49235                  3          0
11             36       43086                  4          1
12             36       46620                  5          1
13             36       34497                  6          1
14             36       48679                  7          1
15             36       46979                  8          1
16             38       11913                  1          0
17             38       18159                  2          0
18             38        4461                  3          0
19             38       21616                  4          1
20             38       23622                  5          0
21             38       32433                  6          0
22             38       28842                  7          0
23             38       42625                  8          0
24             38       39693                  9          0
25             96       20574                  1          1
26             96       30391                  2          0
27             96       40706                  3          1
28             96       25610                  4          0
29             96       27966                  5          1
...           ...         ...                ...        ...
1384587   3421026       32237                  3          0
1384588   3421026          10                  4          0
1384589   3421026        4493                  5          0
1384590   3421026        7781                  6          0
1384591   3421049       40800                  1          0
1384592   3421049       17706                  2          0
1384593   3421049       33424                  3          1
1384594   3421049       17299                  4          0
1384595   3421049       26800                  5          0
1384596   3421049       34243                  6          0
1384597   3421056        5750                  1          1
1384598   3421056        9340                  2          1
1384599   3421056       21709                  3          1
1384600   3421056       16475                  4          0
1384601   3421056       12432                  5          0
1384602   3421058       15629                  1          1
1384603   3421058        4347                  2          1
1384604   3421058       34466                  3          1
1384605   3421058        6244                  4          1
1384606   3421058        6858                  5          1
1384607   3421058       30316                  6          1
1384608   3421058       35578                  7          0
1384609   3421058       32650                  8          1
1384610   3421063       49235                  1          1
1384611   3421063       13565                  2          1
1384612   3421063       14233                  3          1
1384613   3421063       35548                  4          1
1384614   3421070       35951                  1          1
1384615   3421070       16953                  2          1
1384616   3421070        4724                  3          1

[1384617 rows x 4 columns]

In [ ]:
# aisles
aisles = pd.read_csv('../input/aisles.csv', engine='c')
print('Total aisles: {}'.format(aisles.shape[0]))
aisles.head()

In [ ]:
# departments
departments = pd.read_csv('../input/departments.csv', engine='c')
print('Total departments: {}'.format(departments.shape[0]))
departments.head()

In [ ]:
# products
products = pd.read_csv('../input/products.csv', engine='c')
print('Total products: {}'.format(products.shape[0]))
products.head(5)

In [ ]:
# combine aisles, departments and products (left joined to products)
goods = pd.merge(left=pd.merge(left=products, right=departments, how='left'), right=aisles, how='left')
# to retain '-' and make product names more "standard"
goods.product_name = goods.product_name.str.replace(' ', '_').str.lower() 
print(goods.info())

goods.head()

In [ ]:
# load datasets

# train dataset
op_train = pd.read_csv('../input/order_products__train.csv', engine='c', 
                       dtype={'order_id': np.int32, 'product_id': np.int32, 
                              'add_to_cart_order': np.int16, 'reordered': np.int8})
print('Total ordered products(train): {}'.format(op_train.shape[0]))
op_train.head(10)

In [ ]:
# test dataset (submission)
test = pd.read_csv('../input/sample_submission.csv', engine='c')
print('Total orders(test): {}'.format(test.shape[0]))
test.head()

In [ ]:
#prior dataset
op_prior = pd.read_csv('../input/order_products__prior.csv', engine='c', 
                       dtype={'order_id': np.int32, 
                              'product_id': np.int32, 
                              'add_to_cart_order': np.int16, 
                              'reordered': np.int8})

print('Total ordered products(prior): {}'.format(op_prior.shape[0]))
op_prior.head()

In [ ]:
# orders
orders = pd.read_csv('../input/orders.csv', engine='c', dtype={'order_id': np.int32, 
                                                           'user_id': np.int32, 
                                                           'order_number': np.int32, 
                                                           'order_dow': np.int8, 
                                                           'order_hour_of_day': np.int8, 
                                                           'days_since_prior_order': np.float16})
print('Total orders: {}'.format(orders.shape[0]))
print(orders.info())
orders.head()

### Combine (orders, order details, product hierarchy) into 1 dataframe order_details 
**(be careful, high memory consumption, about 3GB RAM itself)**

In [ ]:
from functools import partial

# merge train and prior together iteratively, to fit into 8GB kernel RAM
# split df indexes into parts
indexes = np.linspace(0, len(op_prior), num=10, dtype=np.int32)

# initialize it with train dataset
order_details = pd.merge(
                left=op_train,
                 right=orders, 
                 how='left', 
                 on='order_id'
        ).apply(partial(pd.to_numeric, errors='ignore', downcast='integer'))

# add order hierarchy
order_details = pd.merge(
                left=order_details,
                right=goods[['product_id', 
                             'aisle_id', 
                             'department_id']].apply(partial(pd.to_numeric, 
                                                             errors='ignore', 
                                                             downcast='integer')),
                how='left',
                on='product_id'
)

print(order_details.shape, op_train.shape)

# delete (redundant now) dataframes
del op_train

order_details.head()

In [ ]:
%%time
# update by small portions
for i in range(len(indexes)-1):
    order_details = pd.concat(
        [   
            order_details,
            pd.merge(left=pd.merge(
                            left=op_prior.loc[indexes[i]:indexes[i+1], :],
                            right=goods[['product_id', 
                                         'aisle_id', 
                                         'department_id' ]].apply(partial(pd.to_numeric, 
                                                                          errors='ignore', 
                                                                          downcast='integer')),
                            how='left',
                            on='product_id'
                            ),
                     right=orders, 
                     how='left', 
                     on='order_id'
                ) #.apply(partial(pd.to_numeric, errors='ignore', downcast='integer'))
        ]
    )
        
print('Datafame length: {}'.format(order_details.shape[0]))
print('Memory consumption: {:.2f} Mb'.format(sum(order_details.memory_usage(index=True, 
                                                                         deep=True) / 2**20)))
# check dtypes to see if we use memory effectively
print(order_details.dtypes)

# make sure we didn't forget to retain test dataset :D
test_orders = orders[orders.eval_set == 'test']

# delete (redundant now) dataframes
del op_prior, orders

### 1. Greedy Dumb Submission :) <br>(0.2164845 Public LB Score)

In [ ]:
%%time
# dumb submission
test_history = order_details[(order_details.user_id.isin(test_orders.user_id))]\
.groupby('user_id')['product_id'].apply(lambda x: ' '.join([str(e) for e in set(x)])).reset_index()
test_history.columns = ['user_id', 'products']

test_history = pd.merge(left=test_history, 
                        right=test_orders, 
                        how='right', 
                        on='user_id')[['order_id', 'products']]

test_history.to_csv('dumb_submission.csv', encoding='utf-8', index=False)

### Still Greedy But Smarter (Customer Will Take All Reordered) <br>(0.2996690 Public LB Score)

In [ ]:
%%time
# dumb submission
test_history = order_details[(order_details.user_id.isin(test_orders.user_id)) 
                             & (order_details.reordered == 1)]\
.groupby('user_id')['product_id'].apply(lambda x: ' '.join([str(e) for e in set(x)])).reset_index()
test_history.columns = ['user_id', 'products']

test_history = pd.merge(left=test_history, 
                        right=test_orders, 
                        how='right', 
                        on='user_id')[['order_id', 'products']]

test_history.to_csv('dumb2_subm.csv', encoding='utf-8', index=False)

### Less Dumb - Repeat Last Order<br>(0.3276746 Public LB Score)

In [ ]:
%%time
test_history = order_details[(order_details.user_id.isin(test_orders.user_id))]
last_orders = test_history.groupby('user_id')['order_number'].max()

def get_last_orders():
    t = pd.merge(
            left=pd.merge(
                    left=last_orders.reset_index(),
                    right=test_history,
                    how='inner',
                    on=['user_id', 'order_number']
                )[['user_id', 'product_id']],
            right=test_orders[['user_id', 'order_id']],
            how='left',
            on='user_id'
        ).groupby('order_id')['product_id'].apply(lambda x: ' '.join([str(e) for e in set(x)])).reset_index()
    t.columns = ['order_id', 'products']
    return t

# save submission
get_last_orders().to_csv('less_dumb_subm_last_order.csv', encoding='utf-8', index=False)

### Less Dumb - Repeat Last Order (Reordered Products Only)<br>(0.3276826 Public LB Score)

In [ ]:
%%time
test_history = order_details[(order_details.user_id.isin(test_orders.user_id))]
last_orders = test_history.groupby('user_id')['order_number'].max()

def get_last_orders_reordered():
    t = pd.merge(
            left=pd.merge(
                    left=last_orders.reset_index(),
                    right=test_history[test_history.reordered == 1],
                    how='left',
                    on=['user_id', 'order_number']
                )[['user_id', 'product_id']],
            right=test_orders[['user_id', 'order_id']],
            how='left',
            on='user_id'
        ).fillna(-1).groupby('order_id')['product_id'].apply(lambda x: ' '.join([str(int(e)) for e in set(x)]) 
                                                  ).reset_index().replace(to_replace='-1', 
                                                                          value='None')
    t.columns = ['order_id', 'products']
    return t

# save submission
get_last_orders_reordered().to_csv('less_dumb_subm_last_order_reordered_only.csv', 
                         encoding='utf-8', 
                         index=False)